body 
{
    background-color:aqua;
    font-family: sans-serif;
    height:100%;
}
#header 
{
    background-color:darkorange;
    margin: 0 auto; 
}
* 
{ 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    color: inherit; 
    text-decoration: none; 
}
.subtop 
{ 
    display: none; 
}
.subtop li 
{ 
    background: #333; 
    color: #fff; 
    padding: 4px 2px; 
    border-bottom: 1px solid #e0e0e0; 
}
.top
{ 
    overflow: hidden;
    width:100%; 
}
.top > li {
    float: left;
    width:19.8%;
    padding: 4px 0;
    background: #e0e0e0;
    border-right-style: solid;
    text-align:center;
}
.top > li:hover ul 
{ 
    display: block; 
}
#main {
    text-align: center;
    padding-top:20px;
}
#footer 
{
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    background-color:aliceblue;
}